# Secrets
.env
.env.local


# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/

# macOS
.DS_Store

# ML
mlruns/
*.log

# IDE
.vscode/
.idea/
.opencode/
